*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#0f0f0f;
  color:white;
}

nav{
  background:#151515;
  padding:18px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:2px solid #facc15;
  position:sticky;
  top:0;
}

.logo{
  font-size:28px;
  font-weight:bold;
  color:#facc15;
}

nav ul{
  display:flex;
  list-style:none;
  gap:25px;
}

nav a{
  color:white;
  text-decoration:none;
}

section{
  min-height:100vh;
  padding:60px 40px;
}

.hero{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex-direction:column;
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
  url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1200&auto=format&fit=crop');
  background-size:cover;
  background-position:center;
}

.hero h1{
  font-size:60px;
  color:#facc15;
  margin-bottom:20px;
}

.hero p{
  font-size:20px;
  color:#ddd;
  margin-bottom:30px;
}

.btn{
  background:#facc15;
  color:black;
  padding:14px 28px;
  border:none;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
}

.title{
  text-align:center;
  margin-bottom:40px;
  font-size:40px;
  color:#facc15;
}

.movie-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:30px;
}

.movie-card{
  background:#1b1b1b;
  border-radius:16px;
  overflow:hidden;
  transition:0.3s;
  border:1px solid #2d2d2d;
  cursor:pointer;
}

.movie-card:hover{
  transform:translateY(-8px);
  border-color:#facc15;
}

.movie-card img{
  width:100%;
  height:350px;
  object-fit:cover;
}

.movie-content{
  padding:20px;
}

.movie-content p{
  margin:10px 0;
  color:#bbb;
}

.details-container{
  display:flex;
  gap:40px;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}

.details-container img{
  width:350px;
  border-radius:16px;
}

.details-text{
  max-width:500px;
}

.details-text h2{
  color:#facc15;
  margin-bottom:20px;
  font-size:45px;
}

.details-text p{
  margin-bottom:15px;
  line-height:1.7;
}

.booking-container{
  max-width:700px;
  margin:auto;
  background:#1b1b1b;
  padding:30px;
  border-radius:20px;
}

.screen{
  background:#facc15;
  color:black;
  text-align:center;
  padding:12px;
  border-radius:10px;
  margin-bottom:40px;
  font-weight:bold;
}

.seats{
  display:grid;
  grid-template-columns:repeat(6,1fr);
  gap:15px;
  margin-bottom:30px;
}

.seat{
  background:#2c2c2c;
  padding:18px;
  text-align:center;
  border-radius:10px;
  cursor:pointer;
}

.seat.selected{
  background:#facc15;
  color:black;
  font-weight:bold;
}

input{
  width:100%;
  padding:14px;
  margin:15px 0;
  border:none;
  border-radius:10px;
}

.confirmation-box{
  max-width:600px;
  margin:auto;
  background:#1b1b1b;
  padding:40px;
  border-radius:20px;
  text-align:center;
}

.confirmation-box h2{
  color:#22c55e;
  margin-bottom:20px;
}

.confirmation-box p{
  margin:15px 0;
}

footer{
  background:#151515;
  text-align:center;
  padding:20px;
  color:#999;
}
